<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<title>View Flight</title>
		<object th:include="fragments/fragment :: css" th:remove="tag">></object>
		<object th:include="fragments/fragment :: js" th:remove="tag">></object>
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar('View Detail Flight')"></nav>

		<td><a th:href="@{/}">Kembali ke Home</a></td>
		<div th:each="flight : ${flightList}" >
		    <h3 th:text="'Nomor Penerbangan : '+${flight.flightNumber}" ></h3>
		    <h3 th:text="'Origin : '+ ${flight.origin}" ></h3>
		    <h3 th:text="'Destination : '+ ${flight.destination}" ></h3>
		    <h3 th:text="'Time : '+ ${flight.time}" ></h3>
		    
			<form th:action="@{/flight/delete}"  method="POST">
		        <input type="hidden"  name="id" th:value="*{flight.id}" />
		        <button type="submit">Delete</button>
		    </form>
		
		    <form th:action="@{'/flight/update/'+ ${flight.pilot.licenseNumber}}" method="POST" >
		        <input type="hidden"  name="id" th:value="*{flight.id}" />
		        <button type="submit">Update</button>
		    </form>
		    
		    <br><br>
		    <p th:text="'License Number : ' + ${flight.pilot.licenseNumber}"></p>		
		    <p th:text="'Name : '+ ${flight.pilot.name}"></p>
		    <p th:text="'Fly Hours : '+ ${flight.pilot.flyHour}"></p>
		
		
		    <br>
		
		
		</div>
	
	</body>
</html>